In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import csv
from io import StringIO

In [2]:
# url = 'http://rotoguru1.com/cgi-bin/fyday.pl?week=1&game=fd&scsv=1'

In [3]:
# response = requests.get(url)

In [4]:
# # Create BeautifulSoup object; parse with 'html.parser'
# soup = bs(response.text, 'html.parser')

In [5]:
# print(soup.prettify())

In [6]:
# results = soup.find_all('pre')
# # results

In [7]:
# r = str(results[0])
# type(r)

In [8]:
# r

In [9]:
# results_to_process = r[5:]
# results_to_process = results_to_process[:-6]
# # results_to_process

In [10]:
# # try using csv reader to parse string from beautiful soup
# test = csv.reader(r, delimiter=';')
# for row in test:
#     print(row)
# #     print("next line")

In [11]:
# # try using csv reader to parse string from beautiful soup
# csvstring = StringIO(results_to_process)
# test = csv.reader(csvstring, delimiter=';')
# for row in test:
#     print(row)
# #     print("next line")

In [12]:
# # try using csv reader to parse string from beautiful soup
# csvstring2 = StringIO(results_to_process)
# df = pd.read_csv(csvstring2, sep=';')
# df.head()

# Setup Function to import from url to dataframe

In [13]:
def url_to_dataframe(url):
    print(url)
    response = requests.get(url)
    # Create BeautifulSoup object; parse with 'html.parser'
    soup = bs(response.text, 'html.parser')
    results = soup.find_all('pre')
    r = str(results[0])
    results_to_process = r[5:]
    results_to_process = results_to_process[:-6]
    csvstring2 = StringIO(results_to_process)
    df_to_return = pd.read_csv(csvstring2, sep=';')
#     print(df_to_return.head())
    return df_to_return

# Setup URLs

In [14]:
# setup urls
base_url = 'http://rotoguru1.com/cgi-bin/fyday.pl?'
fd_search = 'scsv=1&game=fd'
dk_search = 'scsv=1&game=dk'
year_query = '&year='
week_query = '&week='

# Create list of 2018 urls for FD and DK

In [15]:
url_list_fd_2018 = []
year = '2018'
for i in range (1,18):
    combined_url = base_url + fd_search + year_query + year + week_query + str(i)
    print(combined_url)
    url_list_fd_2018.append(combined_url)

url_list_dk_2018 = []
for i in range (1,18):
    combined_url = base_url + dk_search + year_query + year + week_query + str(i)
    print(combined_url)
    url_list_dk_2018.append(combined_url)

http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=1
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=2
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=3
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=4
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=5
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=6
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=7
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=8
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=9
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=10
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=11
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=12
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=13
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=14
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=15
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=16
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=17
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=1
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=2
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=3
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=4
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=5
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=6
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=7
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=8
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=9
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=10
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=11
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=12
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=13
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=14
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=15
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=16
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=17

# Import from URLs to dataframes

In [17]:
master_df_fd = pd.DataFrame()

for u in url_list_fd_2018:
    temp_df = url_to_dataframe(u)
    master_df_fd = master_df_fd.append(temp_df)

http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=1
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=2
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=3
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=4
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=5
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=6
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=7
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=8
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=9
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=10
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=11
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=12
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=13
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=14
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=15
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=16
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=fd&year=2018&week=17

In [18]:
master_df_dk = pd.DataFrame()

for u in url_list_dk_2018:
    temp_df = url_to_dataframe(u)
    master_df_dk = master_df_dk.append(temp_df)

http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=1
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=2
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=3
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=4
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=5
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=6
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=7
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=8
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=9
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=10
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=11
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=12
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=13
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=14
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=15
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=16
http://rotoguru1.com/cgi-bin/fyday.pl?scsv=1&game=dk&year=2018&week=17

In [19]:
master_df_dk.head()

,Week,Year,GID,Name,Pos,Team,h/a,Oppt,DK points,DK salary
0,1,2018,1242,"Fitzpatrick, Ryan",QB,tam,a,nor,45.28,5000.0
1,1,2018,1151,"Brees, Drew",QB,nor,h,tam,34.56,6800.0
2,1,2018,1231,"Rivers, Philip",QB,lac,h,kan,32.96,6400.0
3,1,2018,1523,"Mahomes II, Patrick",QB,kan,a,lac,28.34,6000.0
4,1,2018,1435,"Keenum, Case",QB,den,h,sea,25.16,5100.0

# Clean up and join dataframes

In [20]:
# add dk suffix
master_df_dk = master_df_dk.add_suffix('_dk')
master_df_dk.head()

,Week_dk,Year_dk,GID_dk,Name_dk,Pos_dk,Team_dk,h/a_dk,Oppt_dk,DK points_dk,DK salary_dk
0,1,2018,1242,"Fitzpatrick, Ryan",QB,tam,a,nor,45.28,5000.0
1,1,2018,1151,"Brees, Drew",QB,nor,h,tam,34.56,6800.0
2,1,2018,1231,"Rivers, Philip",QB,lac,h,kan,32.96,6400.0
3,1,2018,1523,"Mahomes II, Patrick",QB,kan,a,lac,28.34,6000.0
4,1,2018,1435,"Keenum, Case",QB,den,h,sea,25.16,5100.0

In [ ]:
# master_df_dk.sort_values(by=['GID_dk'])

In [21]:
master_df_fd = master_df_fd.add_suffix('_fd')

master_df_fd.head()

,Week_fd,Year_fd,GID_fd,Name_fd,Pos_fd,Team_fd,h/a_fd,Oppt_fd,FD points_fd,FD salary_fd
0,1,2018,1242,"Fitzpatrick, Ryan",QB,tam,a,nor,42.28,6200.0
1,1,2018,1151,"Brees, Drew",QB,nor,h,tam,31.56,8400.0
2,1,2018,1231,"Rivers, Philip",QB,lac,h,kan,29.96,7500.0
3,1,2018,1523,"Mahomes II, Patrick",QB,kan,a,lac,28.34,6700.0
4,1,2018,1252,"Rodgers, Aaron",QB,gnb,h,chi,24.94,8700.0

In [22]:
master_df_fd.sort_values(by=['GID_fd'])

,Week_fd,Year_fd,GID_fd,Name_fd,Pos_fd,Team_fd,h/a_fd,Oppt_fd,FD points_fd,FD salary_fd
13,4,2018,1131,"Brady, Tom",QB,nwe,h,mia,20.96,8600.0
16,9,2018,1131,"Brady, Tom",QB,nwe,h,gnb,15.66,8600.0
20,8,2018,1131,"Brady, Tom",QB,nwe,a,buf,13.76,8600.0
15,13,2018,1131,"Brady, Tom",QB,nwe,h,min,15.94,7900.0
5,17,2018,1131,"Brady, Tom",QB,nwe,h,nyj,26.00,7600.0
15,15,2018,1131,"Brady, Tom",QB,nwe,a,pit,14.16,7900.0
17,2,2018,1131,"Brady, Tom",QB,nwe,a,jac,16.36,8500.0
11,6,2018,1131,"Brady, Tom",QB,nwe,h,kan,21.80,8800.0
0,14,2018,1131,"Brady, Tom",QB,nwe,a,mia,26.62,7600.0
27,16,2018,1131,"Brady, Tom",QB,nwe,h,buf,7.04,7900.0
4,7,2018,1131,"Brady, Tom",QB,nwe,a,chi,22.68,8700.0
23,10,2018,1131,"Brady, Tom",QB,nwe,a,ten,11.26,8300.0
28,3,2018,1131,"Brady, Tom",QB,nwe,a,det,8.52,8500.0
7,1,2018,1131,"Brady, Tom",QB,nwe,h,hou,22.28,8600.0
0,5,2018,1131,"Brady, Tom",QB,nwe,h,ind,29.54,8600.0
15,12,2018,1131,"Brady, Tom",QB,nwe,a,nyj,19.22,8200.0
1,1,2018,1151,"Brees, Drew",QB,nor,h,tam,31.56,8400.0
2,11,2018,1151,"Brees, Drew",QB,nor,h,phi,30.52,8500.0
2,5,2018,1151,"Brees, Drew",QB,nor,h,was,27.22,8600.0
28,13,2018,1151,"Brees, Drew",QB,nor,a,dal,8.28,9000.0
2,10,2018,1151,"Brees, Drew",QB,nor,a,cin,28.90,8400.0
14,16,2018,1151,"Brees, Drew",QB,nor,h,pit,16.94,8400.0
0,9,2018,1151,"Brees, Drew",QB,nor,h,lar,31.44,8400.0
25,15,2018,1151,"Brees, Drew",QB,nor,a,car,6.92,8400.0
13,2,2018,1151,"Brees, Drew",QB,nor,h,cle,17.62,8800.0
16,7,2018,1151,"Brees, Drew",QB,nor,a,bal,16.78,8600.0
17,14,2018,1151,"Brees, Drew",QB,nor,a,tam,14.94,8500.0
0,3,2018,1151,"Brees, Drew",QB,nor,a,atl,40.54,8500.0
26,4,2018,1151,"Brees, Drew",QB,nor,a,nyg,8.58,8700.0
29,8,2018,1151,"Brees, Drew",QB,nor,a,min,7.80,8600.0
...,...,...,...,...,...,...,...,...,...,...
391,1,2018,7031,Washington,Def,was,a,ari,13.00,4000.0
415,12,2018,7031,Washington,Def,was,a,dal,3.00,3700.0
434,3,2018,7031,Washington,Def,was,h,gnb,7.00,3300.0
375,7,2018,7031,Washington,Def,was,h,dal,15.00,3500.0
449,16,2018,7031,Washington,Def,was,a,ten,4.00,4400.0
428,17,2018,7031,Washington,Def,was,h,phi,5.00,3400.0
420,15,2018,7031,Washington,Def,was,a,jac,14.00,4600.0
450,13,2018,7031,Washington,Def,was,a,phi,1.00,3400.0
379,8,2018,7031,Washington,Def,was,a,nyg,15.00,4100.0
353,11,2018,7031,Washington,Def,was,h,hou,10.00,3600.0
422,5,2018,7031,Washington,Def,was,a,nor,0.00,3000.0
455,14,2018,7031,Washington,Def,was,h,nyg,3.00,4300.0
374,9,2018,7031,Washington,Def,was,h,atl,0.00,3400.0
374,10,2018,7031,Washington,Def,was,a,tam,17.00,3400.0
347,11,2018,7032,Houston,Def,hou,a,was,15.00,4700.0
400,1,2018,7032,Houston,Def,hou,a,nwe,8.00,4000.0
438,2,2018,7032,Houston,Def,hou,a,ten,2.00,4500.0
442,16,2018,7032,Houston,Def,hou,a,phi,6.00,4200.0
392,4,2018,7032,Houston,Def,hou,a,ind,13.00,4200.0
449,14,2018,7032,Houston,Def,hou,h,ind,4.00,4300.0
366,9,2018,7032,Houston,Def,hou,a,den,5.00,4700.0
376,7,2018,7032,Houston,Def,hou,a,jac,14.00,4800.0
409,5,2018,7032,Houston,Def,hou,h,dal,7.00,4200.0
400,6,2018,7032,Houston,Def,hou,h,buf,20.00,4700.0
440,3,2018,7032,Houston,Def,hou,h,nyg,4.00,4400.0
421,13,2018,7032,Houston,Def,hou,h,cle,18.00,4400.0
416,17,2018,7032,Houston,Def,hou,h,jac,14.00,5000.0
403,12,2018,7032,Houston,Def,hou,h,ten,9.00,4700.0
439,15,2018,7032,Houston,Def,hou,a,nyj,5.00,4600.0
391,8,2018,7032,Houston,Def,hou,h,mia,4.00,4800.0

In [23]:
all_2018 = pd.merge(master_df_dk, master_df_fd, 'outer', left_on =['GID_dk', 'Week_dk'], right_on = ['GID_fd', 'Week_fd'])
all_2018.head()

,Week_dk,Year_dk,GID_dk,Name_dk,Pos_dk,Team_dk,h/a_dk,Oppt_dk,DK points_dk,DK salary_dk,Week_fd,Year_fd,GID_fd,Name_fd,Pos_fd,Team_fd,h/a_fd,Oppt_fd,FD points_fd,FD salary_fd
0,1.0,2018.0,1242.0,"Fitzpatrick, Ryan",QB,tam,a,nor,45.28,5000.0,1.0,2018.0,1242.0,"Fitzpatrick, Ryan",QB,tam,a,nor,42.28,6200.0
1,1.0,2018.0,1151.0,"Brees, Drew",QB,nor,h,tam,34.56,6800.0,1.0,2018.0,1151.0,"Brees, Drew",QB,nor,h,tam,31.56,8400.0
2,1.0,2018.0,1231.0,"Rivers, Philip",QB,lac,h,kan,32.96,6400.0,1.0,2018.0,1231.0,"Rivers, Philip",QB,lac,h,kan,29.96,7500.0
3,1.0,2018.0,1523.0,"Mahomes II, Patrick",QB,kan,a,lac,28.34,6000.0,1.0,2018.0,1523.0,"Mahomes II, Patrick",QB,kan,a,lac,28.34,6700.0
4,1.0,2018.0,1435.0,"Keenum, Case",QB,den,h,sea,25.16,5100.0,1.0,2018.0,1435.0,"Keenum, Case",QB,den,h,sea,22.16,6300.0

In [24]:
len(master_df_dk)

6781

In [25]:
len(master_df_fd)

7231

In [26]:
len(all_2018)

7289

In [27]:
all_2018.tail()

,Week_dk,Year_dk,GID_dk,Name_dk,Pos_dk,Team_dk,h/a_dk,Oppt_dk,DK points_dk,DK salary_dk,Week_fd,Year_fd,GID_fd,Name_fd,Pos_fd,Team_fd,h/a_fd,Oppt_fd,FD points_fd,FD salary_fd
7284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,2018.0,6429.0,"Maher, Brett",PK,dal,a,nyg,4.0,NaN
7285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,2018.0,6227.0,"McManus, Brandon",PK,den,h,lac,3.0,NaN
7286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,2018.0,6208.0,"Forbath, Kai",PK,jac,a,hou,3.0,NaN
7287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,2018.0,6432.0,"Badgley, Mike",PK,lac,a,den,3.0,NaN
7288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,2018.0,6239.0,"Lutz, Wil",PK,nor,h,car,2.0,NaN

In [28]:
all_2018['Name_dk'].fillna(all_2018['Name_fd'], inplace = True)
all_2018.tail()

,Week_dk,Year_dk,GID_dk,Name_dk,Pos_dk,Team_dk,h/a_dk,Oppt_dk,DK points_dk,DK salary_dk,Week_fd,Year_fd,GID_fd,Name_fd,Pos_fd,Team_fd,h/a_fd,Oppt_fd,FD points_fd,FD salary_fd
7284,NaN,NaN,NaN,"Maher, Brett",NaN,NaN,NaN,NaN,NaN,NaN,17.0,2018.0,6429.0,"Maher, Brett",PK,dal,a,nyg,4.0,NaN
7285,NaN,NaN,NaN,"McManus, Brandon",NaN,NaN,NaN,NaN,NaN,NaN,17.0,2018.0,6227.0,"McManus, Brandon",PK,den,h,lac,3.0,NaN
7286,NaN,NaN,NaN,"Forbath, Kai",NaN,NaN,NaN,NaN,NaN,NaN,17.0,2018.0,6208.0,"Forbath, Kai",PK,jac,a,hou,3.0,NaN
7287,NaN,NaN,NaN,"Badgley, Mike",NaN,NaN,NaN,NaN,NaN,NaN,17.0,2018.0,6432.0,"Badgley, Mike",PK,lac,a,den,3.0,NaN
7288,NaN,NaN,NaN,"Lutz, Wil",NaN,NaN,NaN,NaN,NaN,NaN,17.0,2018.0,6239.0,"Lutz, Wil",PK,nor,h,car,2.0,NaN

In [29]:
all_2018['Week_dk'].fillna(all_2018['Week_fd'], inplace = True)
all_2018['Year_dk'].fillna(all_2018['Year_fd'], inplace = True)
all_2018['GID_dk'].fillna(all_2018['GID_fd'], inplace = True)
all_2018['Pos_dk'].fillna(all_2018['Pos_fd'], inplace = True)
all_2018['Team_dk'].fillna(all_2018['Team_fd'], inplace = True)
all_2018['h/a_dk'].fillna(all_2018['h/a_fd'], inplace = True)
all_2018['Oppt_dk'].fillna(all_2018['Oppt_fd'], inplace = True)

all_2018['Name_fd'].fillna(all_2018['Name_dk'], inplace = True)
all_2018['Week_fd'].fillna(all_2018['Week_dk'], inplace = True)
all_2018['Year_fd'].fillna(all_2018['Year_dk'], inplace = True)
all_2018['GID_fd'].fillna(all_2018['GID_dk'], inplace = True)
all_2018['Pos_fd'].fillna(all_2018['Pos_dk'], inplace = True)
all_2018['Team_fd'].fillna(all_2018['Team_dk'], inplace = True)
all_2018['h/a_fd'].fillna(all_2018['h/a_dk'], inplace = True)
all_2018['Oppt_fd'].fillna(all_2018['Oppt_dk'], inplace = True)

all_2018.tail()

,Week_dk,Year_dk,GID_dk,Name_dk,Pos_dk,Team_dk,h/a_dk,Oppt_dk,DK points_dk,DK salary_dk,Week_fd,Year_fd,GID_fd,Name_fd,Pos_fd,Team_fd,h/a_fd,Oppt_fd,FD points_fd,FD salary_fd
7284,17.0,2018.0,6429.0,"Maher, Brett",PK,dal,a,nyg,NaN,NaN,17.0,2018.0,6429.0,"Maher, Brett",PK,dal,a,nyg,4.0,NaN
7285,17.0,2018.0,6227.0,"McManus, Brandon",PK,den,h,lac,NaN,NaN,17.0,2018.0,6227.0,"McManus, Brandon",PK,den,h,lac,3.0,NaN
7286,17.0,2018.0,6208.0,"Forbath, Kai",PK,jac,a,hou,NaN,NaN,17.0,2018.0,6208.0,"Forbath, Kai",PK,jac,a,hou,3.0,NaN
7287,17.0,2018.0,6432.0,"Badgley, Mike",PK,lac,a,den,NaN,NaN,17.0,2018.0,6432.0,"Badgley, Mike",PK,lac,a,den,3.0,NaN
7288,17.0,2018.0,6239.0,"Lutz, Wil",PK,nor,h,car,NaN,NaN,17.0,2018.0,6239.0,"Lutz, Wil",PK,nor,h,car,2.0,NaN

In [31]:
all_2018.columns.tolist()

['Week_dk',
 'Year_dk',
 'GID_dk',
 'Name_dk',
 'Pos_dk',
 'Team_dk',
 'h/a_dk',
 'Oppt_dk',
 'DK points_dk',
 'DK salary_dk',
 'Week_fd',
 'Year_fd',
 'GID_fd',
 'Name_fd',
 'Pos_fd',
 'Team_fd',
 'h/a_fd',
 'Oppt_fd',
 'FD points_fd',
 'FD salary_fd']

In [32]:
all_final = all_2018[['Week_dk',
 'Year_dk',
 'GID_dk',
 'Name_dk',
 'Pos_dk',
 'Team_dk',
 'h/a_dk',
 'Oppt_dk',
 'DK points_dk',
 'DK salary_dk',
 'FD points_fd',
 'FD salary_fd']]

In [33]:
all_final.columns.tolist()

In [35]:
new_columns = ['Week',
 'Year',
 'GID',
 'Name',
 'Pos',
 'Team',
 'h/a',
 'Oppt',
 'DK_points',
 'DK_salary',
 'FD_points',
 'FD_salary']

In [36]:
all_final.columns = new_columns

In [37]:
all_final

,Week,Year,GID,Name,Pos,Team,h/a,Oppt,DK_points,DK_salary,FD_points,FD_salary
0,1.0,2018.0,1242.0,"Fitzpatrick, Ryan",QB,tam,a,nor,45.28,5000.0,42.28,6200.0
1,1.0,2018.0,1151.0,"Brees, Drew",QB,nor,h,tam,34.56,6800.0,31.56,8400.0
2,1.0,2018.0,1231.0,"Rivers, Philip",QB,lac,h,kan,32.96,6400.0,29.96,7500.0
3,1.0,2018.0,1523.0,"Mahomes II, Patrick",QB,kan,a,lac,28.34,6000.0,28.34,6700.0
4,1.0,2018.0,1435.0,"Keenum, Case",QB,den,h,sea,25.16,5100.0,22.16,6300.0
5,1.0,2018.0,1252.0,"Rodgers, Aaron",QB,gnb,h,chi,24.94,7500.0,24.94,8700.0
6,1.0,2018.0,1400.0,"Taylor, Tyrod",QB,cle,h,pit,24.58,5400.0,24.58,6600.0
7,1.0,2018.0,1409.0,"Luck, Andrew",QB,ind,h,cin,23.46,6100.0,20.46,7300.0
8,1.0,2018.0,1412.0,"Wilson, Russell",QB,sea,a,den,22.42,6200.0,22.42,7900.0
9,1.0,2018.0,1131.0,"Brady, Tom",QB,nwe,h,hou,22.28,7200.0,22.28,8600.0
10,1.0,2018.0,1302.0,"Flacco, Joe",QB,bal,h,buf,21.74,4900.0,21.74,6100.0
11,1.0,2018.0,1415.0,"Cousins, Kirk",QB,min,h,sfo,20.36,6500.0,20.36,7600.0
12,1.0,2018.0,1254.0,"Smith, Alex",QB,was,a,ari,19.60,5600.0,19.60,6900.0
13,1.0,2018.0,1378.0,"Newton, Cam",QB,car,h,dal,18.24,6900.0,18.24,8100.0
14,1.0,2018.0,1403.0,"Dalton, Andy",QB,cin,a,ind,17.52,5800.0,17.52,6800.0
15,1.0,2018.0,1490.0,"Goff, Jared",QB,lar,a,oak,17.22,6700.0,17.22,7500.0
16,1.0,2018.0,1232.0,"Roethlisberger, Ben",QB,pit,a,cle,17.00,6600.0,12.00,8000.0
17,1.0,2018.0,1410.0,"Tannehill, Ryan",QB,mia,h,ten,15.60,5300.0,15.60,6200.0
18,1.0,2018.0,1519.0,"Trubisky, Mitchell",QB,chi,a,gnb,15.04,5600.0,14.04,6500.0
19,1.0,2018.0,1524.0,"Darnold, Sam",QB,nyj,a,det,14.82,5400.0,14.82,6100.0
20,1.0,2018.0,1442.0,"Bortles, Blake",QB,jac,a,nyg,14.24,5600.0,14.24,6600.0
21,1.0,2018.0,1518.0,"Watson, Deshaun",QB,hou,a,nwe,13.04,6700.0,12.04,8200.0
22,1.0,2018.0,1441.0,"Carr, Derek",QB,oak,h,lar,12.22,6000.0,9.22,6600.0
23,1.0,2018.0,1340.0,"Stafford, Matthew",QB,det,h,nyj,12.04,6500.0,12.04,7800.0
24,1.0,2018.0,1452.0,"Garoppolo, Jimmy",QB,sfo,a,min,12.04,5700.0,12.04,7100.0
25,1.0,2018.0,1301.0,"Ryan, Matt",QB,atl,a,phi,9.84,6300.0,9.84,7000.0
26,1.0,2018.0,1501.0,"Prescott, Dak",QB,dal,a,car,9.70,5500.0,8.70,7000.0
27,1.0,2018.0,1225.0,"Manning, Eli",QB,nyg,h,jac,8.16,4700.0,8.16,6300.0
28,1.0,2018.0,1413.0,"Foles, Nick",QB,phi,h,atl,6.08,5900.0,5.58,7400.0
29,1.0,2018.0,1529.0,"Allen, Josh",QB,buf,a,bal,5.56,4400.0,5.56,6000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7259,17.0,2018.0,6206.0,"Tucker, Justin",PK,bal,h,cle,NaN,NaN,15.00,NaN
7260,17.0,2018.0,6240.0,"Gonzalez, Zane",PK,ari,a,sea,NaN,NaN,14.00,NaN
7261,17.0,2018.0,6205.0,"Zuerlein, Greg",PK,lar,h,sfo,NaN,NaN,14.00,NaN
7262,17.0,2018.0,6159.0,"Prater, Matt",PK,det,a,gnb,NaN,NaN,12.32,NaN
7263,17.0,2018.0,6071.0,"Bryant, Matt",PK,atl,a,tam,NaN,NaN,11.00,NaN
7264,17.0,2018.0,6229.0,"Catanzaro, Chandler",PK,car,a,nor,NaN,NaN,11.00,NaN
7265,17.0,2018.0,6037.0,"Vinatieri, Adam",PK,ind,a,ten,NaN,NaN,11.00,NaN
7266,17.0,2018.0,6431.0,"McCrane, Matthew",PK,pit,h,cin,NaN,NaN,11.00,NaN
7267,17.0,2018.0,6242.0,"Rosas, Aldrick",PK,nyg,h,dal,NaN,NaN,10.00,NaN
7268,17.0,2018.0,6048.0,"Janikowski, Sebastian",PK,sea,h,ari,NaN,NaN,10.00,NaN
7269,17.0,2018.0,6224.0,"Santos, Cairo",PK,tam,h,atl,NaN,NaN,9.00,NaN
7270,17.0,2018.0,6098.0,"Gostkowski, Stephen",PK,nwe,h,nyj,NaN,NaN,8.00,NaN
7271,17.0,2018.0,6241.0,"Fairbairn, Ka'imi",PK,hou,h,jac,NaN,NaN,8.00,NaN
7272,17.0,2018.0,6203.0,"Bullock, Randy",PK,cin,a,pit,NaN,NaN,8.00,NaN
7273,17.0,2018.0,6430.0,"Joseph, Greg",PK,cle,a,bal,NaN,NaN,6.00,NaN
7274,17.0,2018.0,6422.0,"Elliott, Jake",PK,phi,a,was,NaN,NaN,6.00,NaN
7275,17.0,2018.0,6096.0,"Gould, Robbie",PK,sfo,a,lar,NaN,NaN,6.00,NaN
7276,17.0,2018.0,6167.0,"Hauschka, Steven",PK,buf,h,mia,NaN,NaN,6.00,NaN
7277,17.0,2018.0,6194.0,"Bailey, Dan",PK,min,h,chi,NaN,NaN,5.00,NaN
7278,17.0,2018.0,6169.0,"Succop, Ryan",PK,ten,h,ind,NaN,NaN,5.00,NaN
7279,17.0,2018.0,6427.0,"Sanders, Jason",PK,mia,a,buf,NaN,NaN,5.00,NaN
7280,17.0,2018.0,6230.0,"Parkey, Cody",PK,chi,a,min,NaN,NaN,5.00,NaN
7281,17.0,2018.0,6423.0,"Butker, Harrison",PK,kan,h,oak,NaN,NaN,5.00,NaN
7282,17.0,2018.0,6428.0,"Carlson, Daniel",PK,oak,a,kan,NaN,NaN,5.00,NaN
7283,17.0,2018.0,6236.0,"Myers, Jason",PK,nyj,a,nwe,NaN,NaN,4.00,NaN
7284,17.0,2018.0,6429.0,"Maher, Brett",PK,dal,a,nyg,NaN,NaN,4.00,NaN
7285,17.0,2018.0,6227.0,"McManus, Brandon",PK,den,h,lac,NaN,NaN,3.00,NaN
7286,17.0,2018.0,6208.0,"Forbath, Kai",PK,jac,a,hou,NaN,NaN,3.00,NaN
7287,17.0,2018.0,6432.0,"Badgley, Mike",PK,lac,a,den,NaN,NaN,3.00,NaN
7288,17.0,2018.0,6239.0,"Lutz, Wil",PK,nor,h,car,NaN,NaN,2.00,NaN

In [38]:
csv_name = "2018_fantasy_data_dk_and_fd.csv"
all_final.to_csv(csv_name)

In [39]:
#connect to sqlalchemy
from sqlalchemy import create_engine

In [40]:
db_string = 'postgresql://postgres:postgres@localhost:5432/fantasydata2018test'
db = create_engine(db_string)

In [41]:
all_final.to_sql('players', con=db)